* {
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

#fin {
    height: 30px;
    width: 27%;
    margin: auto;
    margin-top: 65px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 600px;
    
}
#as {
    height: 75px;
    width: 44%;
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    margin-left: 135px;
  }


   #pic {
      height: 70%;
      width: 100%;
  }


  #hi {
    text-align: center;
}
#per {
    text-align: center;
}

#bot {
    margin-left: 55px;
    height: 50px;
    width: 280px;
    background-color: white;
    color: #222222;
}